@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

body {
  background-color: #2ADF86;
  /* background: -webkit-linear-gradient(#ff693c, #ff2898, #ff46;x*/
}
.App h1 {
  font-style: normal;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 55px;
  font-weight: bold;
  color: khaki;
}

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dice-container {
  display: flex;
}

.dice {
  font-size: 15rem;
  margin: 5rem;

  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* button {
  background-color: aqua;
  padding: 20px;
  padding-left: 20px;
  border: none;
} */

/*animation here*/
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rolling .dice {
  animation: roll 1s ease-in-out infinite;
}

.button{
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}